.mainImg {
  width: 300px;
  height: 250px;
}

.systemsContainer {
  display: inline-block;
  margin: 5%;
  padding: 3%;
  transition: 0.4s;
  border-radius: 5%;
}
.systemsContainer:hover .title {
  color: orange;
}

.solarSys {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
  position: fixed;
  left: 5%;
  padding: 10% 0% 10% 0%;
  top: 10%;
  transition: 0.5s;
  color: white;
  border-radius: 2%;
  margin: 0 5% 0 5%;
  display: none;
}

.allSystem {
  width: 30%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.allSystem:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.img {
  width: 50%;
}
