.increase {
  width: 22px;
  transform: rotate(-90deg);
  display: inline-block;
  background-color: rgb(29, 54, 44);
  margin: 10px;
  padding: 2%;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.decrease {
  width: 20px;
  transform: rotate(90deg);
  display: inline-block;
  background-color: rgb(29, 54, 44);
  margin: 10px;
  padding: 2%;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.increase:hover {
  color: yellow;
}

.currentQty {
  display: inline-block;
}

.decrease:hover {
  color: yellow;
}

.cartItem {
}

.itemImg {
  width: 80px;
  display: inline-block;
}

.qtySection {
  display: inline-block;
  width: 50%;
}

.itemName {
  color: yellow;
  font-size: 12px;
  margin: 10px;
}
