.header {
  position: sticky;
  width: 100%;
  top: 0;
  height: 100px auto;
  text-align: right;
  background-color: rgb(29, 54, 44);
  z-index: 9;
  transition: 0.5s;
}

.logo {
  display: flex;
  position: relative;
  color: yellow;
  left: 10%;
  position: relative;
  width: 20%;
  align-items: center;
}

.logoImg {
  width: 80px;
  transition: 0.5s;
}

.compName {
  position: relative;
  right: 25%;
  margin: 0;
}

.header nav {
  position: relative;
}

.link {
  margin: 2%;
  position: relative;
  right: 5%;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.productsLink {
  margin: 2%;
  position: relative;
  right: 5%;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.header nav a:hover {
  transition: 0.2s;
  color: yellow;
}

.signLog {
  display: flex;

  position: absolute;
  right: 5%;
  top: 0%;
}

.productsList {
  position: absolute;
  list-style: none;
  text-align: left;
  left: 40.5%;
  background-color: rgb(29, 54, 44);
  opacity: 0;
  display: none;
  top: 20%;
  transition: 0.3s;
}
.productsList li {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5%;
}
.productsList li:hover {
  transition: 0.2s;
  color: yellow;
}

.productsLink:hover .productsList {
  opacity: 0.9;
  display: block;
  transition: 0.3s;
}

.cart {
  position: absolute;
  top: 0%;
  right: 10%;
  display: inline-block;
  width: 80px;
}

.cartImg {
  cursor: pointer;
  width: 40px;
  border-radius: 50%;
}

.cartImg:hover {
  background-color: white;
  box-shadow: 2px 5px 10px 5px yellow;
}

.addedToCartCount {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  background-color: orangered;
  padding: 2px;
  border-radius: 50%;
  cursor: default;
  bottom: 30px;
  right: 15px;
}
