.orderBtn {
  display: block;
  text-decoration: none;
  position: relative;
  width: 120px;
  margin-left: -50px;
  padding: 25px 5px 25px 5px;
  margin-top: 40%;
  left: 50%;
  background-color: rgb(29, 54, 44);
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px 5px black;
  transition: 0.3s;
}

.orderBtn:hover {
  background-color: white;
  color: black;
  /* box-shadow: 1px 2px 5px orangered; */
}
