.itemDetails {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 5%;
  left: 10%;
  justify-content: center;
  width: 80%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  color: white;
  border-radius: 5%;
}

.imgTitle {
  position: relative;
  padding: 0% 5% 0% 5%;
}
.imgTitle img {
  width: 80%;
}
.details {
  position: relative;
  text-align: left;
  padding: 0% 5% 0% 5%;
}

.details p {
  /* font-size: 18px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.price {
  text-align: center;
  position: relative;
  top: 5%;
  font-size: 25px;
  color: yellow;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
